.layout {
    position: relative;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 25px;
}

/*вводимый текст, поле ввода, поле результатов*/
.code_field {
    height: 60%;
    display: grid;

}

.keyboard_field {
}