.authentication{
	display: flex;
	justify-content: center;
	align-items: center;
}

.authentication-card{
	max-width: 400px;
	width: 100%;
	border: 1px solid grey;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 10px;
}

.authentication-form > label{
	display: block;
	margin-bottom: 10px;
}


.field{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.field > input{
	width: 65%;
}

.error{
	color: red;
}



.btns-group{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.btn{
	background-color: tomato;
	padding: 10px 15px;
	border: none;
	border-radius: 7px;
	color: white;	
}