.field-label{
	display: block;
	margin-bottom: 10px;
}


.field{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.input-field{
	width: 65%;
}

.error{
	color: red;
	font-weight: bold;
}
