.field-label {
    display: flex;
    margin-bottom: 20px;
    color: #ffffff;
    flex-direction: column;
}


.field {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.field-title {
    padding: 0 20px 10px 0;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
}

.input-field {
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 70%;
}

.input-field:-webkit-autofill {
    transition-delay: 3600s;
}

.error {
    font-style: italic;
    color: red;
}

