.results {
    position: absolute;
    top: 0;
    right: 20px;
}

.container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 18px;
}

.title {
    color: #E29930;
    font-weight: bold;
    margin-bottom: 10px;
}